*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-family: 'montserrat';
    font-size: 100%;
    width: 70vw;
    margin: 2rem auto 2rem auto;
    /* background-color: rgb(194, 170, 135); */
    background-image: url("nick-reynolds-Im997E8lWho-unsplash.jpg");
    background-size: cover;
}
@media screen and (max-width: 992px){
    html{width: 90vw;}
}

body{
    border: 0.5rem solid #E68E36;
    margin: auto;
    min-height: calc(100vh - 1rem);
    /* background-image: url("nick-reynolds-Im997E8lWho-unsplash.jpg");
    background-size: cover; */
    background-color: #461E52;
    color: #461E52;
}



header{
    border-bottom: 0.5rem solid #E68E36;
    /* background-color: rgb(187, 151, 96); */
    
    /* background-color: #461E52; */

    color: #E68E36 ;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

header > h1{
    font-size: 4rem;
    font-family: 'Bebas neue';
    text-align: center;
    margin: 0;
}

header > h2{
    font-size: 2rem;
    font-variant: all-small-caps;
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'bebas neue';
    font-weight: lighter;
}

h2{
    font-variant: all-small-caps;
    font-size: 1.2rem;
}

a:link, 
a:visited,
a:active{
    color: #461E52;
}

a:hover{
    color: rgb(255, 255, 255);
}

.date{
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bolder;
}

main{
    min-height: calc(100vh - 11.6rem);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* background-color: rgb(255, 255, 255);
    padding: 10px; */
    min-height: inherit;
}

.inner-grid-container{
    display: grid;
    padding: 1rem;
}

.left-column{
    background: linear-gradient(to bottom, rgb(230, 142, 54) ,#DD517F);   
    text-align: center;
    padding: 1.5rem 1.5rem;
}

.right-column{
    /* background-image: url("cristian-s-W1fZKMIlkpM-unsplash.jpg"); */
    
    background: linear-gradient(#461E52,#556DC8);
    text-align: center;
    padding: 1.5rem 1.5rem;
    color: #E68E36;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.material-icons{
    vertical-align: bottom;
}